body{ 
    background-color: black;
}
*{ 
    box-sizing: border-box;
    margin: 0 auto;
}

.info > .cardName {
    padding-top: 50px;
    font-size: 25px;
}
.info > .cardPrice {
    padding-top: 20px;
    font-size: 30px;
}
.info > .cardSale {
    padding-top: 70px;
    font-size: 18px;
}


.colorCard1{
    background-image: linear-gradient(to right, rgb(255, 0, 217), rgb(255, 85, 0));
}
.colorCard2{
    background-image: linear-gradient(to right, deepskyblue, rgba(0,0,255,1));
}
.colorCard3{
    background-image: linear-gradient(to right, rgb(0, 255, 81), rgb(15, 150, 98));
}

.cardList > li {
    display: inline-block;
}

.container{
    width: 500px;
    height: 300px;
    border: 2px solid gray;
    margin: 0 auto;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}
.circle1{
    width: 250px;
    height: 250px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 50%;
    position: absolute;
    top: -30px;
    right: -60px;

}
.circle2{
    width: 350px;
    height: 350px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 50%;
    position: absolute;
    right: -40px;
    top: 150px;

}
.info{
    color: white;
    text-align: left;
    margin-left: 50px;
}


