/*
selector{
    name: value;
    ...
}
*/
*{
    margin: 0px;
    padding: 0px;
}

h1{
    text-align: center;
}

.colorDiv{
    display: inline-block;
    background-color: dodgerblue;
    width: 200px;
    height: 200px;
    border: 1px solid orange;
   /* text-align: center;*/
   /* margin-left: 36vw;*/
   /*margin: auto;*/
}

.pic{
    width: 300px;
    height: 320px;
    margin: auto;
    display: block;
}




