/*
.nav{
    list-style-type: none;
}

ul.nav > li {
    font-size: 20px;
    border: 2px solid deepskyblue;
    width: 200px; 
    height: 30px;
    display: inline-block;
}
*/
p{
    color: darkcyan;
}
/*оно применится для всех
параграфов которые 
находятся в div с классом class3
на любом уровне вложенности
вне зависимости от структуры*/
div.class3 p{
    color: orange;
}

/*правило для параграфов которые 
находятся в div с классом class3
только на 1 уровне вложенности*/
div.class3 > p{
    color: orange;
}

.class3{
    border: 2px solid tomato;
    background-color: beige;
}




